body {
    margin: 0;
    padding: 0;
    height: 100vh;
  }

  main {
    
    margin: 0;
    padding: 0;
    height: 100vh;
    & h1, h3 {
    
      text-shadow: 6px 2px black;
      
    }
  }
  .backgroundcolors {
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    margin: 30px;
    & a {
      color: white;
      -webkit-text-stroke-width: .5px;
      -webkit-text-stroke-color: black;
    }
  }

  nav div {
    font-family: 'Comfortaa', cursive;
    width: 100%;
    max-width: 1200px;
    z-index: 3;
  }

  .hero-image img {
    position: relative;
    top: -100px;
    height: 80vh;
    width: 100%;
    z-index: -1;
  }

  .titles {
    font-size: 3em;
    position: relative;
    z-index: 2;
    text-align: center;
    color: rgba(255, 255, 255, 100);
    top: -700px;
    & h1 {
      
       text-transform: uppercase;
      font-family: 'Comfortaa', cursive;
      text-align: center;
      font-size: 1.5em;
    }
    & h3 {

      text-transform: uppercase;
      font-family: 'Comfortaa', cursive;
      text-align: center;
      font-size: .8em;
    }
  }

  #About {
    text-shadow: .5px .5px white;
    background-image: url("icons/back2.png");
    background-size: cover;
    font-family: 'Comfortaa', cursive;
    margin-top: -380px;
    position: relative;
    padding-bottom: 110px;
    padding-top: 100px;
    
    & img {
      box-shadow: 1px 1px 10px 3px rgb(0,0,0,.7);
    }
    & h6{
      text-align: left: ;
      line-height: 1.9;
    }
  }
  #Skills {
    background-image: url("icons/back1.jpg");
    background-size: cover;
    text-shadow: .5px .5px white;
    font-family: 'Comfortaa', cursive;
    width: 100%;
    position: relative;
    padding-bottom: 100px;
    padding-top: 100px;

   
    & img {
      -webkit-filter: drop-shadow(3px 3px 3px #666666);
      filter: drop-shadow(3px 3px 3px #666666);
      width: 100px ;
      margin: 50px;
    }
    & img:hover {
      transition:.1s ease-in;
    
      transform: scale(1.1);
    }
    
  }


  .hovers li:hover {
    
    padding: 10px;
    border-radius: 20px;
    background-color: aquamarine;
    transition:  0.5s ease-in-out;
  }
 
  #Projects {
    background-image: url("icons/back2.png");
    background-size: cover;
    
    font-family: 'Comfortaa', cursive;

    padding-bottom: 120px;
    padding-top: 100px;
   
    & img {
      width: 300px;
    }
    & p {
      padding-top: 30px;
      color: black;
    }
  }

  #Contact {
    background-image: url("icons/back1.jpg");
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: 'Comfortaa', cursive;
    margin-top: 0px;
    background-color: aliceblue;
    
    & a {
      text-decoration: none;
  }
  & h1 {
    padding-bottom: 100px;
  }
  & p {
    padding-top: 100px;
  }
  & img{
    -webkit-filter: drop-shadow(3px 3px 3px #666666);
      filter: drop-shadow(3px 3px 3px #666666);
  }
  & img:hover {
    transition:.1s ease-in;
    
    transform: scale(1.1);
  }
}

.hidden {
  color: white;
}
.hidden:hover {
  color: black;
  transition: .5s ease-in-out;
  transform: scale(1.1);
}
  @media (max-width: 768px) {
    nav {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
     
    }
  
    main {
      width: 100%;
    }
  }
  
  footer {
    background-color: black;
    
  }